.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 10px;

      .left {
        flex: flex-shrink;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .title{
          font-size: 25px;
          color: #555;
        }
        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 16px;
          color: #1CA7EC;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .item {
          display: flex;
          font-size: 10px;
          gap: 50px;

          .itemImg {
            margin-top: 23px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              font-size: 20px;
              margin-top: 25px;
              color: #555;
            }

            .detailItem {
              margin-top: 5px;
              font-size: 18px;

              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
